# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist

# Next.js
.next/
out/

# Prisma
.prisma/
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
*.csv
*.out
*.pid
*.gz

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Optional: OS trash
.Trash-*

# Build output
build/

#backend/public/
#backend/public/images/categories
#backend/public/images/product